*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first{
    background:url("./images/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    text-align: center;
    color: white;
}
.second img{
    margin-top: 120px;
}
.second h1{
    margin: 50px;
}
#third{
    text-align: center;
}
#about{
    padding-top: 50px;
}
#forth{
    background:url("./images/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3%;
    text-align: center;
    color: white;
    margin-top: 50px;
}
#service{
    padding-top: 80px;
}
#doing{
    padding: 30px;
}
#portfolio{
    padding-top: 50px;
}
#images{
    padding: 30px;
}
#spacing{
    display: flex;
    justify-content: space-evenly;
}
#contacts{
    text-align: center;
}
#last-part{
    background:url("./images/c_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-bottom: 100px;
}
.form-control{
    background: none;
    border: white solid 1px;
}
#my-message{
    margin-top: 20px;
    padding-bottom: 150px;
    padding-right: 700px;
    background: none;
    border: white solid 1px;
}
#button{
    background-color: aqua;
    width: 15%;
    border-radius: 5px;
    margin-left: 500px;
    margin-top: 20px;
    padding: 8px;
}
.icons{
    text-align: center;
}
.icons img{
    padding-top: 20px;
    padding-bottom: 20px;
}